<!DOCTYPE html>
<html>
<head>
  <title>Globalize3Example</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<p>
  Switch locale: <% I18n.available_locales.each do |l| %>
    <%= link_to_unless (l == I18n.locale), l, localize_current_path(l) %>
  <% end %>
</p>

<%= yield %>

</body>
</html>
